@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap&family=Bebas+Neue&display=swap');
* {
    box-sizing: border-box;
}
body{
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1{
    font-family: 'Bebas Neue', cursive;
    color: aliceblue;
}

header {
    background-color: #373b69;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 1em;
    
}

#se {
    height: 5rem;
    display: flex;
    justify-content: center;
}

.search {
    background-color: white;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: #22254b;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem rem;
    margin-top: 2rem;
    text-align: center;
}
.search::placeholder{
    color: #22254b;
}

.search:focus {
    background-color: #fff;
    outline: none;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img{
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    cursor: pointer;
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}
.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    right: 0;
    transform: translateY(-101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.myImage:hover .overview {
    transform: translateY(0);
}

#intro-section{
    color: white;
}

.overview-side {
    flex-grow: 8;
    background-color: #fff;
    padding: 2rem;
    max-height: 100%;
    min-width: 60rem;
}

.search-movie {
    display: flex;
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
}

.search-movie img{
    width: 25em;
    height: 35em;
}

.searchImage{
    height: 35rem;
}


/* For Mobile Portrait View */
@media screen and (max-device-width: 800px) {
    .search-movie {
        max-width: 750px;
        display: flex;
        flex-wrap: wrap;
        margin: 1rem;
        position: relative;
        width: 300px;
    }
    .search-movie img{
        width: 100%;
        /* height: 35em; */
    }
    .overview-side {
        flex-grow: 8;
        background-color: #fff;
        padding: 1rem;
        /* max-height: 100%; */
        width: 100px;
    }
  }